/* Put your custom styles here and run `npm start` from the "src" directory on */

#TableOfContents ul li {
  margin-bottom: 1em;
}

.lh-copy blockquote {
  display: block;
  font-size: .875em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #ccc;
  padding-left: 1rem;

}

.nested-links a{
  overflow-wrap: break-word;
}



// 不清楚这个文件什么用，但是在这里写css，可以在布局文件中使用，因此，这之后的代码都充当自定义

.box {
			width: 100%;
	
            background-color: rgb(245, 245, 213); /* 浅黄色背景 */
        }
		
// 淡化图片北京
.bg01{
	opacity: 0.5;
}
	