{{ define "main" }}
  <article class="box pa3 pa4-ns nested-copy-line-height" style="position:relative; min-height:100vh; height:100vh; overflow:hidden;">
    <div 
      style="
        position:absolute;
        top:0; left:0; right:0; bottom:0;
        width:100vw;
        height:100vh;
        background: url('http://166.88.142.86:5050/image/collect/789') center center / cover no-repeat;
        z-index:1;
      ">
    </div>
    <div 
      style="
        position:absolute;
        top:0; left:0; right:0; bottom:0;
        width:100vw;
        height:100vh;
        background: rgba(0,0,0,0.55);
        z-index:2;
      ">
    </div>
    <section 
      class="cf ph3 ph5-l pv3 pv4-l f4 center measure-wide lh-copy nested-links {{ $.Param "text_color" | compare.Default "mid-gray" }}"
      style="position:relative; z-index:3; color:#fff; text-shadow: 0 2px 8px rgba(0,0,0,0.8); font-weight:bold; text-align:left;">
      <style>
        /* 段落首行缩进2em，li不缩进 */
        section p { text-indent:2em; margin-bottom:1em; }
        section li { text-indent:0; }
      </style>
      {{- .Content -}}
    </section>
  </article>
{{ end }}



